@font-face {
    font-family: "roboto-regular";
    src: url("fonts/roboto-regular-webfont.woff2") format("woff2") ;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: rgb(155, 129, 100);
    --accent-color: rgb(43, 55, 77);
    --bg-color: #e4c19d;
}

html, body {
    height: 100%;
    font-family: "roboto-regular";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: var(--main-color);
    border-bottom: 1px solid gainsboro;
    box-shadow: 1px 2px 4px -2px rgb(131, 131, 131);
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

#add-new {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 35px;
}

main {
    flex: 1;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bg-color);
}

.books {
    width: 70%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 300px;
    place-content: center;
    column-gap: 32px;
    row-gap: 64px;
    padding: 64px 32px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    padding: 6px;
}

.title {
    font-size: 30px;
    font-style: italic;
}

.author {
    margin-top: 25%;
    font-size: 18px;
}

.pages {
    font-size: 14px;
}

.remove {
    height: 10px;
    width: 35%;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 10px 1px rgb(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(255, 0, 0, 0.7);
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read, .not-read {
    height: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 10px 1px rgb(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: -15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    background-color: rgba(0, 255, 34, 0.7);
}

.not-read {
    background-color: rgba(250, 172, 26, 0.7);
}



dialog {
    margin: auto;
    width: min(500px, 75%);
}

dialog::backdrop {
    background-color: black;
    opacity: 0.4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 28px;
}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 32px;
    height: min-content;
    width: 100%;
    align-content: center;
}

fieldset > .text-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 16px;
    width: 200px;
    border: none;
    border-radius: 25px;
} 

