@font-face {
    font-family: "roboto-regular";
    src: url("fonts/roboto-regular-webfont.woff2") format("woff2") ;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: "roboto-regular";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 2px 4px -2px rgb(196, 196, 196);
}

main {
    flex: 1;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.books {
    width: 70%;
    height: min-content;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 300px;
    place-content: center;
    gap: 32px;
    padding: 64px 32px;
}

.card {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.remove {
    height: 10px;
    width: 35%;
    font-size: 16px;
    border: none;
    box-shadow: 0px 1px 4px 1px rgb(212, 212, 212);
    color: white;
    background-color: rgb(255, 0, 0, 0.7);
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    margin: auto;
    width: min(500px, 75%);
}

dialog::backdrop {
    background-color: black;
    opacity: 0.4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 28px;
}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 32px;
    height: min-content;
    width: 100%;
    align-content: center;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 16px;
    width: 200px;
    border: none;
    border-radius: 25px;
} 

